
*.war
*.ear
#kdiff3 ignore 注释 kdiff3工具
*.orig
#maven ignore 注释 maven 文件
target/ 指target文件下的所有文件都不推送

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws
#temp file 注释临时文件
*.log
*.cache
*.diff
*.patch
*.tmp
#system ignore 系统级文件
.DS_Store
Thumbs.db 系统临时文件
